---
layout: layouts/home.njk
---
{% set maxPosts = collections.posts.length | min(3) %}

<!--No reason for title here
  <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>
-->

<h1>Become expensive to tyranny.</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<!-- Bring in pagination after 3+ essays.
<p>More posts can be found <a href="{{ '/posts/' | url }}">here</a>.</p>
-->
