---
layout: layouts/home.njk
---
{% set maxessays = collections.essays.length | min(3) %}

<!--No reason for title here
  <h1>Latest {% if maxessays == 1 %}essay{% else %}{{ maxessays }} essays{% endif %}</h1>
-->

<h1>Become expensive to tyranny.</h1>

{% set essayslist = collections.essays | head(-3) %}
{% set essayslistCounter = collections.essays | length %}
{% include "essayslist.njk" %}

<!-- Bring in pagination after 3+ essays.
<p>More essays can be found <a href="{{ '/essays/' | url }}">here</a>.</p>
-->
