---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.feed.path }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.feed.subtitle }}</subtitle>
	{% set absoluteUrl %}{{ metadata.feed.path | url | absoluteUrl(metadata.url) }}{% endset %}
	<link href="{{ absoluteUrl }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ collections.essays | rssLastUpdatedDate }}</updated>
	<id>{{ metadata.feed.id }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for essay in collections.essays | reverse %}
	{% set absoluteessayUrl %}{{ essay.url | url | absoluteUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ essay.data.title }}</title>
		<link href="{{ absoluteessayUrl }}"/>
		<updated>{{ essay.date | rssDate }}</updated>
		<id>{{ absoluteessayUrl }}</id>
		<content type="html">{{ essay.templateContent | htmlToAbsoluteUrls(absoluteessayUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
